@CHARSET "UTF-8";
body {
	background-image: url('../images/geometry.png');
}
div#wrap {
	width : 90%;
	max-width : 600px;
	margin-right : auto;
	margin-left : auto;
	font-size : 0.9em;
	color : rgb(94, 87, 87);
	margin-bottom:50px;
}
a#toggleWritePostForm {
	display:block;
	text-align:center;
	color: white;
	height: 40px;
	background: rgba(0,0,0,0.4);
	font-family : Raleway,Helvetica Neue,Helvetica,Arial,sans-serif;
	letter-spacing : 0.1em;	
	line-height: 34px;
	width:100%;
	font-size: 26px;
	margin-top:3px;
	margin-bottom:30px;
}
section#writePost{
	display:none;
}

section {
	margin-top : 0px;
	width  : 100%;
	margin-right : auto;
	margin-left : auto;
	padding : 0px;
	margin-bottom:30px;

}

article {
	position: relative;
}



article div.imgWrap {
	position: relative;
	width : 100%;
	height: 200px;
	background-size:cover;
	background-position: center center;
}

div.imgWrap > img {
	width: 100%;
}
article div.imgWrap>h1,article div.imgWrap>.numberOfComments,article div.imgWrap > menu {
	position: absolute;
	background: rgba(0,0,0,0.4);
	font-family : Raleway,Helvetica Neue,Helvetica,Arial,sans-serif;
	letter-spacing : 0.1em;	
	line-height: 38px;

	width:100%;
	height: 40px;	
	text-align: center;
	color : white;	
}
article div.imgWrap>h1 {
	top: 0px;
	font-weight : 300;
	font-size : 1.4em;	
}
article div.imgWrap>.numberOfComments{
	top: 0px;
	width: 40px;				
	font-weight : 100;
	right: 0;
	font-style: italic;
}

article div.imgWrap>p {
	position: absolute;
	width: 100%;
	top: 50%;
	right: 5px;
	color: white;
	text-align: right;
	word-wrap:break-word;
	line-height :1.4em;
	text-shadow: 0px 0px 10px rgba(0, 0, 0, 1);
}

article div.imgWrap > menu{
	position: absolute;
	display: block;
	background: rgba(255,255,255,.4);
	width: 100%;
	height: 40px;
	bottom:3px;
}
article div.imgWrap > menu > a{
	width: 40px;
	height: 40px;
	background: rgba(0,0,0,0.4);
	color : white;
	text-decoration: none;
	margin: 0;
}
.imgWrapShade {
	background-size:cover;
	background-position: center center;
	-webkit-filter: blur(30px);		
	width:100%;
	height: 200px;
	float:left;
	opacity: 0.7;
}
div.commentWrap {
	position: relative;
	display:none;
	1border : 1px solid red;
	padding:15px;
	margin-top:-3px;
	transition: all 2s;	
	height: 100px;
	z-index:0;
}
div.commentWrap.show {
	margin-top: -3px;
}

div.commentWrite {
	margin : 5px 0px;
}

div.commentWrite form {
	text-align : right;
}

.commentWrite input[type=submit] , input[type=reset] {
	border : 0px;
	padding : 5px;
	background-color : gray;
	color : white;
	border-radius : 3px;
	font-size : 0.8em;
}

.commentList p {
	margin-bottom: 10px;
	border-bottom: 1px solid rgb(247, 247, 247)
}

.commentList p:first-of-type {
	padding-top: 10px;
}

.commentList p:last-of-type {
	border-bottom : 1px solid rgb(218, 218, 218);
	padding-bottom: 10px;
}
.commentList > .commentNum {
	font-size : 0.8em;
	border-bottom : 1px solid rgb(218, 218, 218);
}

/* write post */
section#writePost {
	1border : 1px solid red;
}

#writePost > div#formArea {
	margin-top : 3px;
	border : 1px solid  rgb(226, 219, 219);
	padding : 1%;
}

div#formArea {
 	1padding-left : 100px;
 	1padding-top : 100px;
}

div.textareaWrap {
	width  :98%;
	margin : 20px 0px;
	border : 1px solid  rgb(226, 219, 219);
	text-align:center;
}

div.textareaWrap > textarea {
	width  :96%;
	padding : 8px;
	resize : none;
	border : 0px;
	outline : 0;
	font-size : 0.8em;
}


#formArea input[type=text] {
	height : 30px;
}

#formArea input[type=submit] , input[type=reset]  {
	margin-top : 20px;
	border : 0px;
	padding : 5px;
	background-color : gray;
	color : white;
	border-radius : 3px;
	font-size : 0.8em;
}

